*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 80px;
    &-lg{
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 80px;
    }
}

.login{
    margin-top: 200px;
    .btn-login{
        width: 40%;
        background-color: green;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        display: block;
        margin-left: auto;
        margin-right: 0;
        text-align: center;
        margin-top: 20px;
    }
}

.form-control{
    width: 30%;
    margin: 0 auto;
    label{
        display: block;
        margin-bottom: 3px;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2px;
    }
    input{
        width:100%;
        padding: 5px 3px 5px 3px;
        margin-bottom: 5px;
        font-size: 20px;
    }
}


.list{
    .add{
        display: block;
        padding: 6px 20px;
        background-color: blue;
        color: white;
        text-align: center;
        width: 15%;
        font-weight: bold;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 20px;
        &:hover{
            opacity: 0.6;
        }
    }
    li{
        display: flex;
        border-bottom: 1px solid black;
        padding: 5px 0;
        align-items: center;
        .type{
            display: flex;
            justify-content: space-between;
        }
        .date, .name, .carId, .staging, .money, .dieLine, .month, .extra, .lineId{
            flex: 0 0 8%;
            text-align: center;
            font-weight: bold;
        }
        .btn-control{
            flex: 0 0 15%;
            text-align: center;
            font-weight: bold;
        }
        .phone{
            flex: 0 0 10%;
            text-align: center;
            font-weight: bold;
        }
        .type{
            flex: 0 0 5%;
            padding: 0 3px;
            text-align: center;
            font-weight: bold;
        }
        .btn-control{
            display: flex;
            justify-content: center;
            .edit{
                background-color: green;
                margin-right: 3px;
            }
            .delete{
                background-color: red;
            }
            .edit, .delete{
                color: white;
                font-weight: bold;
                display: block;
                padding: 6px 15px;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}


.add-modal, .edit-modal{
    position: absolute;
    width: 50%;
    top: -200%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ddd;
    padding-bottom: 20px;
    z-index: -1;
    transition: .5s;
    &.show{
        z-index: 100;
        top: 10%;
    }
    .title{
        text-align: center;
        padding: 10px 0;
        background-color: blue;
        color: white;
    }

    .content{
        padding: 10px 20px;
    }
    .form-group{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .form-control{
        margin: 0;
    }
    label{
        font-size: 16px;
    }
    input{
        padding: 0;
        font-size: 16px;
        padding: 3px;
    }
    .type{
        input{
            display:inline-block;
            width: 20%;
        }
    }
    textarea{
        width: 100%;
        padding: 10px;
        font-size: 20px;
    }
    .btn-group{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .add, .close{
            width: 15%;
            display: block;
            color: white;
            text-align: center;
            padding: 4px 8px;
            &:hover{
                opacity: 0.7;
            }
        }
        .add{
            background-color: green;
        }
        .close{
            background-color: red;
        }
    }
}
.w-100{
    width: 100%;
}

.delete-modal{
    position: absolute;
    width: 40%;
    top: -200%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    z-index: -1;
    transition: .5s;
    &.show{
        z-index: 100;
        top: 20%;
    }
    .title{
        background-color: red;
        text-align: center;
        font-weight: bold;
        color: white;
        padding: 4px 0;
    }
    .content{
        padding: 20px;
        p{
            letter-spacing: 3px;
            text-align: center;
            font-weight: bold;
        }
        .btn-group{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .close, .delete{
                display: block;
                color: white;
                font-weight: bold;
                text-align: center;
                padding: 4px 8px;
                width: 20%;
                &:hover{
                    opacity: 0.7;
                }
            }
            .close{
                background-color: green;
            }
            .delete{
                background-color: red;
            }

        }
    }
}
