<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理頁面</title>
    <link rel="stylesheet" href="./css/all.css" class="css">
</head>
<body>
    <div id="app">
        <div v-if="checkIp == true">
            <div class="header">
                <div class="container-lg d-flex jy-content-between align-items-center">
                    <div class="logo">
                        <img src="https://static.wixstatic.com/media/a30359_51ace8f8de8143019b8d6b64011f9216~mv2.png/v1/fill/w_412,h_194,al_c,q_85,usm_0.66_1.00_0.01/%E6%96%B0logo-removebg-preview.webp" alt="" style="height: 100px">
                    </div>
                    <div class="menu">
                        <ul class="d-flex">
                            <li v-if="displayName === '管理'">
                                <a class="account-control" href="./admin.html">帳號管理</a>
                            </li>
                            <li>
                                <a class="list-control" href="./list.html">訂單管理</a>
                            </li>
                            <li>
                                <a class="list-control" @click.prevent="logout">登出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-lg">
                <div class="list">
                    <div class="add__list">
                        <a class="add" href="#" @click.prevent="modalControl.is_add = true; tempOrderList = {staging_allNumber: '12'}">新增訂單</a>
                        <div class="search">
                            <select name="search" id="search" v-model="search.staging">
                                <option value="全部訂單" selected>全部訂單</option>
                                <option value="客戶查詢">客戶查詢</option>
                                <option value="期數大於">期數大於</option>
                                <option value="期數小於">期數小於</option>
                                <option value="期數等於">期數等於</option>
                            </select>
                            <input type="text" v-model="search.search_text">
                            <a class="search-btn" href="#" 
                            @click.prevent="searchBtn(search.staging,search.search_text)">搜尋</a>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="date">日期</div>
                            <div class="name">姓名</div>
                            <div class="carId">車牌</div>
                            <div class="phone">電話</div>
                            <div class="lineId">LINE</div>
                            <div class="type">
                                <p>汽</p>
                                <p>機</p>
                            </div>
                            <div class="before">前貸</div>
                            <div class="staging">期數</div>
                            <div class="money">貸款金額(萬)</div>
                            <div class="dieLine">應繳日</div>
                            <div class="month">月付款</div>
                            <div class="extra">備註</div>
                            <div class="btn-control">操作</div>
                        </li>
                        <li v-for="item in orderList" :key="item.id">
                            <div class="date">{{ item.date }} <br> <span v-if="displayName === '管理'">( {{ item.mname }} )</span> </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="carId">{{ item.carId }}</div>
                            <div class="phone">{{ changePhone(item.phone) }}</div>
                            <div class="lineId">{{ item.lineId }}</div>
                            <div class="type">
                                <p>{{ item.type == '汽' ? 'V' : ''}}</p>
                                <p>{{ item.type == '機' ? 'V' : ''}}</p>
                            </div>
                            <div class="before">{{ item.before }}</div>
                            <div class="staging">{{ item.staging_number }} / {{ item.staging_allNumber }}</div>
                            <div class="money">{{ item.money }}</div>
                            <div class="dieLine">{{ item.dieLine }}</div>
                            <div class="month">{{ item.month }}</div>
                            <div class="extra">{{ item.extra }}</div>
                            <div class="btn-control">
                                <a class="edit" href="#" @click.prevent="openEdit($event,item)">編輯</a>
                                <!-- <a class="edit" href="#" @click.prevent="getone">編輯</a> -->
                                <a class="delete" href="#" @click.prevent="modalControl.is_delete = true; tempOrderList = {...item}">刪除</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="add-modal" :class="{'show': modalControl.is_add === true}">
                <div class="title">
                    <h2>新增訂單</h2>
                </div>
                <div class="content">
                    <form action="#">
                        <div class="form-group">
                            <div class="form-control">
                                <label for="date">日期</label>
                                <input type="text" id="date" v-model="tempOrderList.date">
                            </div>
                            <div class="form-control">
                                <label for="name">姓名</label>
                                <input type="text" id="name" v-model = "tempOrderList.name">
                            </div>
                            <div class="form-control">
                                <label for="carId">車牌</label>
                                <input type="text" id="carId" v-model = "tempOrderList.carId">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <label for="phone">電話</label>
                                <input type="phone" id="phone" v-model="tempOrderList.phone" @blur="checkForm('phone')">
                                <label for="line">LineID</label>
                                <input type="text" id="line" v-model = "tempOrderList.lineId">
                            </div>
                            <div class="form-control type">
                                <label for="type">分期類別</label>
                                汽<input type="radio" value="汽" v-model="tempOrderList.type">
                                機<input type="radio" value="機" v-model="tempOrderList.type" style="margin-bottom: 13px;">
                                <label for="before">前貸</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <select v-if="modalControl.is_add_before === 0" name="before" id="before" v-model="tempOrderList.before" style="width: 60%;">
                                        <option v-for="item in beforeList" :value="item" :key="item">{{ item }}</option>
                                    </select>
                                    <input v-else type="text" v-model="tempBefore" style="width: 60%; padding: 4px 0">
                                    <a v-if="modalControl.is_add_before === 0" href="#" style="width:35%; display: block; padding: 3px; background:blue; color: white; text-align:center" @click.prevent="modalControl.is_add_before = 1">新增</a>
                                    <a v-else href="#" style="width:35%; display: block; padding: 3px; background:blue; color: white; text-align:center" @click.prevent="add_Before">增加</a>
                                </div>
                            </div>
                            <div class="form-control">
                                <label for="staging_number">已繳期數</label>
                                <input type="text" id="staging_number" v-model = "tempOrderList.staging_number">
                                <label for="staging.allNumber">總期數</label>
                                <select v-model="tempOrderList.staging_allNumber" name="staging_allNumber" id="staging_allNumber">
                                    <option value="N/A" selected>N/A</option>
                                    <option value="12">12期</option>
                                    <option value="18">18期</option>
                                    <option value="24">24期</option>
                                    <option value="36">36期</option>
                                    <option value="48">48期</option>
                                    <option value="54">54期</option>
                                    <option value="60">60期</option>
                                    <option value="72">72期</option>
                                    <option value="84">84期</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <label for="money">貸款金額</label>
                                <input type="text" id="money" v-model = "tempOrderList.money">
                            </div>
                            <div class="form-control">
                                <label for="dieLine">應繳日</label>
                                <input type="text" id="dieLine" v-model = "tempOrderList.dieLine">
                            </div>
                            <div class="form-control">
                                <label for="month">月付款</label>
                                <input type="number" id="month" v-model = "tempOrderList.month">
                            </div>
                        </div>
                        <div class="form-control w-100">
                            <label for="extra">備註</label>
                            <textarea name="extra" id="extra" cols="30" rows="10" v-model="tempOrderList.extra"></textarea>
                        </div>
                        <div class="btn-group">
                            <a class="close" href="#" @click.prevent="modalControl.is_add = false; tempOrderList = {}">取消</a>
                            <a class="add" href="#" @click.prevent="add">增加訂單</a>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="edit-modal" :class="{'show': modalControl.is_edit === true}">
                <div class="title">
                    <h2>修改訂單</h2>
                </div>
                <div class="content">
                    <form action="#">
                        <div class="form-group">
                            <div class="form-control">
                                <label for="date">日期</label>
                                <input type="text" id="date" v-model = "tempOrderList.date">
                            </div>
                            <div class="form-control">
                                <label for="name">姓名</label>
                                <input type="text" id="name" v-model = "tempOrderList.name">
                            </div>
                            <div class="form-control">
                                <label for="carId">車牌</label>
                                <input type="text" id="carId" v-model = "tempOrderList.carId">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <label for="phone">電話</label>
                                <input type="phone" id="phone" v-model="tempOrderList.phone" @blur="checkForm('phone')">
                                <label for="line">LineID</label>
                                <input type="text" id="line" v-model= "tempOrderList.lineId">
                            </div>
                            <div class="form-control type">
                                <label for="type">分期類別</label>
                                汽<input type="radio" v-model="tempOrderList.type" value="汽" :checked="tempOrderList.type === '汽'">
                                機<input type="radio" v-model="tempOrderList.type" value="機" :checked="tempOrderList.type === '機'" style="margin-bottom: 13px;">
                                <label for="before">前貸</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <select v-if="modalControl.is_add_before === 0" name="before" id="before" v-model="tempOrderList.before" style="width: 60%;">
                                        <option v-for="item in beforeList" :value="item" :key="item">{{ item }}</option>
                                    </select>
                                    <input v-else type="text" v-model="tempBefore" style="width: 60%; padding: 4px 0">
                                    <a v-if="modalControl.is_add_before === 0" href="#" style="width:35%; display: block; padding: 3px; background:blue; color: white; text-align:center" @click.prevent="modalControl.is_add_before = 1">新增</a>
                                    <a v-else href="#" style="width:35%; display: block; padding: 3px; background:blue; color: white; text-align:center" @click.prevent="add_Before">增加</a>
                                </div>
                            </div>
                            <div class="form-control">
                                <label for="staging_number">已繳期數</label>
                                <input type="text" id="staging_number" v-model = "tempOrderList.staging_number">
                                <label for="staging.allNumber">總期數</label>
                                <select v-model="tempOrderList.staging_allNumber" name="staging_allNumber" id="staging_allNumber">
                                    <option value="N/A" selected>N/A</option>
                                    <option value="12">12期</option>
                                    <option value="18">18期</option>
                                    <option value="24">24期</option>
                                    <option value="36">36期</option>
                                    <option value="48">48期</option>
                                    <option value="54">54期</option>
                                    <option value="60">60期</option>
                                    <option value="72">72期</option>
                                    <option value="84">84期</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <label for="money">貸款金額</label>
                                <input type="text" id="money" v-model = "tempOrderList.money">
                            </div>
                            <div class="form-control">
                                <label for="dieLine">應繳日</label>
                                <input type="text" id="dieLine" v-model = "tempOrderList.dieLine">
                            </div>
                            <div class="form-control">
                                <label for="month">月付款</label>
                                <input type="number" id="month" v-model="tempOrderList.month">
                            </div>
                        </div>
                        <div class="form-control w-100">
                            <label for="extra">備註</label>
                            <textarea name="extra" id="extra" cols="30" rows="10" v-model="tempOrderList.extra"></textarea>
                        </div>
                        <div class="btn-group">
                            <a class="close" href="#" @click.prevent="closeEdit">取消</a>
                            <a class="add" href="#" @click.prevent="editOrder">修改訂單</a>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="delete-modal" :class="{'show': modalControl.is_delete === true}">
                <div class="title">
                    <h3>刪除訂單</h3>
                </div>
                <div class="content">
                    <p>確定要刪除  <span style="color: red">{{ tempOrderList.name }} 的 {{ tempOrderList.carId }}</span> 訂單嗎 ？</p>
                    <div class="btn-group">
                        <a class="close"  href="#" @click.prevent="modalControl.is_delete = false; tempOrderList = {}">取消</a>
                        <a class="delete" href="#" @click.prevent="deleteOrder">確定刪除</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>


    <script>
        firebase.initializeApp({
            apiKey: "AIzaSyBOkPr5NHtb-HcprqrXKIujPndGiSxjvyI",
            authDomain: "project-list-1bd84.firebaseapp.com",
            projectId: "project-list-1bd84",
            storageBucket: "project-list-1bd84.appspot.com",
            messagingSenderId: "636865072797",
            appId: "1:636865072797:web:fd6917d1a3c15bb5fc8e74"
        });
        const db = firebase.firestore();
        const app = Vue.createApp({
            data(){
                return{
                    orderList:[],
                    uid: '',
                    displayName: '',
                    mname: '',
                    currentIp: ['59.127.121.35','58.114.179.93','118.170.7.144','27.247.193.47','116.241.172.18'],
                    checkIp: false,
                    tempOrderList: {
                        staging_allNumber: 'N/A' 
                    },
                    modalControl:{
                        is_edit: false,
                        is_add: false,
                        is_delete: false,
                        is_add_before: 0
                    },
                    search:{
                        staging:'全部訂單',
                        search_text: '',
                    },
                    beforeList:[],
                    tempBefore: '',
                    checkList: {
                        phone: true
                    }
                }
            },
            methods:{
                async getOrderList(){
                    this.orderList = [];
                    if(this.displayName !== '管理'){
                            // 員工
                            let data = await db.collection('MEMBER').doc(this.uid).collection('order').get();
                            data.forEach( item => {
                                this.orderList.push({
                                    ...item.data(),
                                    id: item.id
                                })
                            })
                        }else{
                            // 管理
                            let data = await db.collection('ORDER').get();
                            let temp = [];
                            data.forEach( item => {
                                this.orderList.push({
                                    ...item.data(),
                                    id: item.id
                                })
                            })
                    }
                },
                checkLogin(){
                    if(localStorage.getItem("cookie")){
                        let {uid, displayName, name} = JSON.parse(localStorage.getItem("cookie"));
                        this.uid = uid;
                        this.mname = name;
                        this.displayName = displayName;
                        this.getOrderList();
                        this.getBefore();
                    }else{
                        window.location = './index.html'
                    }
                },
                editOrder(){
                    if(this.checkList.phone == false){
                        alert('請填寫正確電話號碼');
                        return;
                    }
                    db.collection('MEMBER').doc(this.tempOrderList.uId).collection('order').doc(this.tempOrderList.oId).set({
                        ...this.tempOrderList,
                    });
                    db.collection('ORDER').doc(this.tempOrderList.oId).set({
                        ...this.tempOrderList,
                    });
                    this.closeEdit();
                    this.getOrderList();
                    
                },
                deleteOrder(){
                    db.collection('MEMBER').doc(this.tempOrderList.uId).collection('order').doc(this.tempOrderList.oId).delete();
                    db.collection('ORDER').doc(this.tempOrderList.oId).delete();
                    this.modalControl.is_delete = false;
                    this.tempOrderList = {};
                    this.getOrderList();
                },
                add(){
                    if(this.checkList.phone == false){
                        alert('請填寫正確電話號碼');
                        return;
                    }
                    let id = "" + new Date().getTime();
                    db.collection('ORDER').doc(id).set({
                        ...this.tempOrderList,
                        oId: id,
                        uId: this.uid,
                        mname: this.mname
                    })
                    db.collection('MEMBER').doc(this.uid).collection('order').doc(id).set({
                        ...this.tempOrderList,
                        oId: id,
                        uId: this.uid,
                        mname: this.mname
                    })

                    this.tempOrderList = {};
                    this.modalControl.is_add = false;

                    this.getOrderList();
                },
                addMember(){
                    firebase.auth().createUserWithEmailAndPassword(this.member.account, this.member.password)
                    .then((res) => {
                        let data = {
                            account: res.user.email,
                            displayName: '員工',
                            uid: res.user.uid
                        }
                        db.collection('MEMBER').doc(res.user.uid).set(data);
                        this.member = {};
                        this.modalControl.is_add_member = false;
                    })
                    .catch((error) => {
                        var errorCode = error.code;
                        var errorMessage = error.message;
                    }); 
                },
                logout(){
                    localStorage.removeItem('cookie');
                    window.location = './index.html'
                },
                async searchBtn(type ,input = ''){
                    await this.getOrderList();
                    if(type == '期數大於'){
                        this.searchHandler('staging_number', '>', input);
                    }else if(type == '期數小於'){
                        this.searchHandler('staging_number', '<', input);
                    }else if(type == '期數等於'){
                        this.searchHandler('staging_number', '=', input);
                    }else if(type == '客戶查詢'){
                        this.searchHandler('name', 'searchName', input);
                    }else{
                        this.getOrderList();
                    }
                },
                searchHandler(category, type, input){
                    this.orderList = this.orderList.filter(item => {
                        if(type == '='){
                            return item[`${category}`] == +input;
                        }else if(type == '>'){
                            return item[`${category}`] > +input;
                        }else if(type == '<'){
                            return item[`${category}`] < +input;
                        }else if(type == 'searchName'){
                            return item[`${category}`] == input;
                        }
                    })
                },
                async getBefore(){
                    this.beforeList = [];
                    let data = await db.collection('BEFORE').get();
                    data.forEach(item => {
                        this.beforeList.push(item.data().title);
                    })
                },
                add_Before(){
                    if(this.tempBefore == ''){
                        this.modalControl.is_add_before = 0;
                        return;
                    } else {
                        db.collection('BEFORE').add({
                            title: this.tempBefore
                        })
                        this.modalControl.is_add_before = 0;
                        this.getBefore();
                    }
                },
                openEdit(event, item){
                    document.querySelector('.edit-modal').style.zIndex = 100;
                    document.querySelector('.edit-modal').style.top = `${event.pageY - event.screenY + 120}px`;
                    this.tempOrderList = {...item}
                },
                closeEdit(){
                    this.tempOrderList = {};
                    document.querySelector('.edit-modal').style.zIndex = -10;
                    document.querySelector('.edit-modal').style.top = `-1200px`;
                },
                checkForm(type){
                    if(type == 'phone'){
                        const reg = /^09[0-9]{8}$/;
                        if(this.tempOrderList.phone.match(reg)){
                            this.checkList.phone = true;
                        }else{
                            this.checkList.phone = false;
                        }
                    }
                },
                changePhone(val){
                    return `${val.slice(0,4)}-${val.slice(4,7)}-${val.slice(7,10)}`
                },
                getIp(){
                    axios.get("https://api.ipify.org/?format=json")
                        .then(res => {
                            let ip = res.data.ip;
                            for(let i = 0; i < this.currentIp.length; i++){
                                if(this.currentIp[i] == ip){
                                    this.checkIp = true;
                                    break;
                                }else{
                                    this.checkIp = false;
                                }
                            }
                            if(this.checkIp === false){
                                localStorage.removeItem('cookie');
                            }
                        })
                        .catch(err => {
                            console.dir(err);
                        })
                    
                }
            },
            created(){
                this.getIp();
            },
            mounted(){
                this.checkLogin();
            }
        })
        app.mount('#app');

    </script>
</body>
</html>