<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>增量頁面</title>
  <link rel="stylesheet" href="./css/all.css" class="css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" class="css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" class="css">
</head>

<body oncopy="return false;" oncontextmenu="return false;">
  <div id="app">
    <input id="copyWarnId" type="text" value="不要亂複製截圖" style="position: fixed; top:0; opacity: 0;">
    <div v-if="isLoading" class="loading"></div>
    <a href="javascript:;" class="scrollTop" @click.prevent="upToTop">
      <i class="fa-solid fa-arrow-up"></i>
    </a>
    <div v-if="checkIp == true">
      <div class="header">
        <div class="container-lg d-flex jy-content-between align-items-center">
          <div class="logo">
            <img
              src="https://static.wixstatic.com/media/a30359_51ace8f8de8143019b8d6b64011f9216~mv2.png/v1/fill/w_412,h_194,al_c,q_85,usm_0.66_1.00_0.01/%E6%96%B0logo-removebg-preview.webp"
              alt="" style="height: 100px">
          </div>
          <div class="menu">
            <ul class="d-flex">
              <li class="d-flex align-items-center" style="position: relative;">
                <input type="text" style="width: 400px; padding: 10px 5px 10px 10px;" v-model.trim="searchText">
                <a href="javascript:;" class="list-control" style="position: absolute; right: -10px" @click="getOrderList(0)">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </li>
              <li>
                <a class="list-control" href="./normal.html">一般頁面</a>
              </li>
              <li>
                <a class="list-control" href="./list.html">增量頁面</a>
              </li>
              <li v-if="displayName === '管理'">
                <a class="account-control" href="./admin.html">帳號管理</a>
              </li>
              <li>
                <a class="list-control" @click.prevent="logout">登出</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-lg">
        <div class="list">
          <div class="list-title">增量頁面</div>
          <div class="add__list">
            <a class="add" href="#"
              @click.prevent="modalControl.is_add = true; tempOrderList = {staging_allNumber: '12', name: '', phone: '', date: '', staging_number: ''}">新增訂單</a>
            <a class="add" href="#" @click.prevent="modalControl.is_before = true;">前貸管理</a>
            <a class="add" href="#" @click.prevent="modalControl.is_allNumber = true;">總期數管理</a>
            <!-- <a class="add" href="#" @click.prevent="updateS" style="display:none">更新期數</a> -->

            <div class="search" v-if="displayName === '管理'">
              <select name="before" id="before" v-model="search.before">
                <option value="不管有無貸款">不管有無貸款</option>
                <option value="有前貸">有前貸</option>
                <option value="無前貸">無前貸</option>
              </select>
              <select name="mname" id="mname" v-model="search.mname">
                <option value="所有業務">所有業務</option>
                <option v-for="mname in mnameData" :value="mname">{{ mname }}</option>
              </select>
              <select name="search" id="search" v-model="search.staging">
                <option value="所有期數">所有期數</option>
                <option value="期數大於" selected>期數大於</option>
                <option value="期數小於">期數小於</option>
                <option value="期數等於">期數等於</option>
                <option value="期數大於等於">期數大於等於</option>
                <option value="期數小於等於">期數小於等於</option>
                <!-- <option value="有前貸">有前貸</option>
                <option value="有前貸大於等於">有前貸大於等於</option>
                <option value="有前貸小於等於">有前貸小於等於</option>
                <option value="無前貸">無前貸</option>
                <option value="無前貸大於等於">無前貸大於等於</option>
                <option value="無前貸小於等於">無前貸小於等於</option> -->
              </select>
              <input type="text" v-model="search.search_text">
              <a class="search-btn" href="#" @click.prevent="searchBtn(search.search_text)">搜尋</a>
            </div>
          </div>
          <ul class="no-print">
            <li>
              <div class="date">日期
                <i v-if="modalControl.is_order_dec == 0 && modalControl.is_page == 0" class="fa-solid fa-angles-down"
                  @click="modalControl.is_order_dec = 1; filterData = 1"></i>
                <i v-else-if="modalControl.is_order_dec == 1 && modalControl.is_page == 0" class="fa-solid fa-angles-up"
                  @click="modalControl.is_order_dec = 0;  filterData = 0"></i>
              </div>
              <div class="name">姓名</div>
              <div class="carId">車牌</div>
              <div class="phone">電話</div>
              <div class="lineId">LINE</div>
              <div class="type">
                <p>汽</p>
                <p>機</p>
              </div>
              <div class="before">前貸</div>
              <div class="staging">期數</div>
              <div class="money">貸款金額(萬)</div>
              <div class="dieLine">應繳日</div>
              <div class="month">月付款</div>
              <div class="extra">備註</div>
              <div class="btn-control">操作</div>
            </li>
            <list v-for="item in orderList" :key="item.id" :item="item" :uid="uid" :display-name="displayName"
              @delete-order="deleteOrder" @edit-order="editOrder">
            </list>
          </ul>
          <ul class="print-page" v-for="page in printLen">
            <li>
              <div class="date">日期
                <i v-if="modalControl.is_order_dec == 0 && modalControl.is_page == 0" class="fa-solid fa-angles-down"
                  @click="modalControl.is_order_dec = 1; filterData = 1"></i>
                <i v-else-if="modalControl.is_order_dec == 1 && modalControl.is_page == 0" class="fa-solid fa-angles-up"
                  @click="modalControl.is_order_dec = 0;  filterData = 0"></i>
              </div>
              <div class="name">姓名</div>
              <div class="carId">車牌</div>
              <div class="phone">電話</div>
              <div class="lineId">LINE</div>
              <div class="type">
                <p>汽</p>
                <p>機</p>
              </div>
              <div class="before">前貸</div>
              <div class="staging">期數</div>
              <div class="money">貸款金額(萬)</div>
              <div class="dieLine">應繳日</div>
              <div class="month">月付款</div>
              <div class="extra">備註</div>
              <div class="btn-control">操作</div>
            </li>
            <list v-for="item in printData[page - 1]" :key="item.id" :item="item" :uid="uid" :display-name="displayName"
              @delete-order="deleteOrder" @edit-order="editOrder">
            </list>
          </ul>
        </div>

        <div class="pagnation">
                    <ul class="d-flex jy-content-center">
                        <li>
                            <a href="#" @click.prevent="getOrderList(currentPage - 1)">上一頁</a>
                        </li>
                        <template v-for="page in allPage" :key="page">
                            <li>
                                <a href="#" :class="{'active': (currentPage + 1) == page}" @click.prevent="getOrderList(page - 1)">{{ page }}</a>
                            </li>
                        </template>
                        <li>
                            <a href="#" @click.prevent="getOrderList(currentPage - 1)">下一頁</a>
                        </li>
                    </ul>
                </div>
      </div>

      <div class="add-modal" :class="{'show': modalControl.is_add === true}">
        <div class="title">
          <h2>新增訂單</h2>
        </div>
        <div class="content">
          <form action="#">
            <div class="form-group">
              <div class="form-control">
                <label for="date">日期(必填)</label>
                <input type="date" id="date" v-model="tempOrderList.date">
              </div>
              <div class="form-control">
                <label for="name">姓名(必填)</label>
                <input type="text" id="name" v-model="tempOrderList.name">
              </div>
              <div class="form-control">
                <label for="carId">車牌</label>
                <input type="text" id="carId" v-model="tempOrderList.carId">
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <label for="phone">電話(必填)</label>
                <input type="phone" id="phone" v-model="tempOrderList.phone" @blur="checkFormOrder('phone')">
                <label for="line">LineID</label>
                <input type="text" id="line" v-model="tempOrderList.lineId">
              </div>
              <div class="form-control type">
                <label for="type">分期類別</label>
                汽<input type="radio" value="汽" v-model="tempOrderList.type">
                機<input type="radio" value="機" v-model="tempOrderList.type" style="margin-bottom: 13px;">
                <label for="before">前貸</label>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <select name="before" id="before" v-model="tempOrderList.before" style="width: 60%;">
                    <option v-for="item in beforeList" :value="item" :key="item">{{ item }}</option>
                  </select>
                </div>
              </div>
              <div class="form-control">
                <label for="staging_number">已繳期數(必填)<br>(若無期數填寫 N/A)</label>
                <input type="text" id="staging_number" v-model="tempOrderList.staging_number">
                <label for="staging.allNumber">總期數</label>
                <select v-model="tempOrderList.staging_allNumber" name="staging_allNumber" id="staging_allNumber">
                  <option v-for="item in allNumberList" :value="item">{{item}}期</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <label for="money">貸款金額</label>
                <input type="text" id="money" v-model="tempOrderList.money">
              </div>
              <div class="form-control">
                <label for="dieLine">應繳日</label>
                <input type="text" id="dieLine" v-model="tempOrderList.dieLine">
              </div>
              <div class="form-control">
                <label for="month">月付款</label>
                <input type="number" id="month" v-model="tempOrderList.month">
              </div>
            </div>
            <div class="form-control w-100">
              <label for="extra">備註</label>
              <textarea name="extra" id="extra" cols="30" rows="10" v-model="tempOrderList.extra"></textarea>
            </div>
            <div class="btn-group">
              <a class="close" href="#" @click.prevent="modalControl.is_add = false; tempOrderList = {}">取消</a>
              <a class="add" href="#" @click.prevent="add">增加訂單</a>
            </div>
          </form>
        </div>
      </div>

      <div class="edit-modal" :class="{'show': modalControl.is_edit === true}">
        <div class="title">
          <h2>修改訂單</h2>
        </div>
        <div class="content">
          <form action="#">
            <div class="form-group">
              <div class="form-control">
                <label for="date">日期(必填)</label>
                <input type="date" id="date" v-model="tempOrderList.date">
              </div>
              <div class="form-control">
                <label for="name">姓名(必填)</label>
                <input type="text" id="name" v-model="tempOrderList.name">
              </div>
              <div class="form-control">
                <label for="carId">車牌</label>
                <input type="text" id="carId" v-model="tempOrderList.carId">
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <label for="phone">電話(必填)</label>
                <input type="phone" id="phone" v-model="tempOrderList.phone" @blur="checkFormOrder('phone')">
                <label for="line">LineID</label>
                <input type="text" id="line" v-model="tempOrderList.lineId">
              </div>
              <div class="form-control type">
                <label for="type">分期類別</label>
                汽<input type="radio" v-model="tempOrderList.type" value="汽" :checked="tempOrderList.type === '汽'">
                機<input type="radio" v-model="tempOrderList.type" value="機" :checked="tempOrderList.type === '機'"
                  style="margin-bottom: 13px;">
                <label for="before">前貸</label>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <select name="before" id="before" v-model="tempOrderList.before" style="width: 60%;">
                    <option v-for="item in beforeList" :value="item" :key="item">{{ item }}</option>
                  </select>
                </div>
              </div>
              <div class="form-control">
                <label for="staging_number">已繳期數(必填)<br>(若無期數填寫 N/A)</label>
                <input type="text" id="staging_number" v-model="tempOrderList.staging_number">
                <label for="staging.allNumber">總期數</label>
                <select v-model="tempOrderList.staging_allNumber" name="staging_allNumber" id="staging_allNumber">
                  <option v-for="item in allNumberList" :value="item">{{item}}期</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <label for="money">貸款金額</label>
                <input type="text" id="money" v-model="tempOrderList.money">
              </div>
              <div class="form-control">
                <label for="dieLine">應繳日</label>
                <input type="text" id="dieLine" v-model="tempOrderList.dieLine">
              </div>
              <div class="form-control">
                <label for="month">月付款</label>
                <input type="number" id="month" v-model="tempOrderList.month">
              </div>
            </div>
            <div class="form-control w-100">
              <label for="extra">備註</label>
              <textarea name="extra" id="extra" cols="30" rows="10" v-model="tempOrderList.extra"></textarea>
            </div>
            <div class="btn-group">
              <a class="close" href="#" @click.prevent="closeEdit">取消</a>
              <a class="add" href="#" @click.prevent="editModal">修改訂單</a>
            </div>
          </form>
        </div>
      </div>

      <div class="delete-modal" :class="{'show': modalControl.is_delete === true}">
        <div class="title">
          <h3>刪除訂單</h3>
        </div>
        <div class="content">
          <p>確定要刪除 <span style="color: red">{{ tempOrderList.name }} 的 {{ tempOrderList.carId }}</span> 訂單嗎 ？</p>
          <div class="btn-group">
            <a class="close" href="#" @click.prevent="delModal(false)">取消</a>
            <a class="delete" href="#" @click.prevent="delModal(true)">確定刪除</a>
          </div>
        </div>
      </div>

      <div class="before-modal" :class="{'show': modalControl.is_before === true}">
        <div class="title">
          <h3>前貸管理</h3>
        </div>
        <div class="content">
          <div class="content-list">
            <div class="before-item" v-for="(item, index) in beforeList" :key="index">
              <p>{{ item }}</p>
              <a href="javascript:;" @click="deleteBefore(item)">刪除</a>
            </div>
          </div>
          <div class="btn-group">
            <input type="text" placeholder="請輸入新增的前貸" v-model.trim="tempBefore">
            <a class="close" style="background: blue" href="#" @click.prevent="add_Before">新增前貸</a>
          </div>
          <div class="btn-group">
            <a class="close" href="#" @click.prevent="modalControl.is_before = false">取消</a>
          </div>
        </div>
      </div>

      <div class="allNumber-modal" :class="{'show': modalControl.is_allNumber === true}">
        <div class="title">
          <h3>總期數管理</h3>
        </div>
        <div class="content">
          <div class="content-list">
            <div class="before-item" v-for="(item, index) in allNumberList" :key="index">
              <p>{{ item }}</p>
              <a href="javascript:;" @click="deleteAllNumber(item)">刪除</a>
            </div>
          </div>
          <div class="btn-group">
            <input type="text" placeholder="請輸入新增的總期數" v-model.trim="tempAllNumber">
            <a class="close" style="background: blue" href="#" @click.prevent="add_AllNumber">新增總期數</a>
          </div>
          <div class="btn-group">
            <a class="close" href="#" @click.prevent="modalControl.is_allNumber = false">取消</a>
          </div>
        </div>
      </div>
    </div>
    <noscript><iframe src=*.html></iframe></noscript>
    <p id="test" style="display: none;">版權所有</p>
  </div>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/x-template" id="list">
      <li>
        <div class="date">{{ item.date }} <br> <span v-if="displayName === '管理' || displayName === '組長'">( {{ item.mname }} )</span> </div>
        <div class="name">{{ item.name }}</div>
        <div class="carId">{{ item.carId }}</div>
        <div class="phone">{{ phoneFormat }}</div>
        <div class="lineId">{{ item.lineId }}</div>
        <div class="type">
            <p>{{ item.type == '汽' ? 'V' : ''}}</p>
            <p>{{ item.type == '機' ? 'V' : ''}}</p>
        </div>
        <div class="before">{{ item.before }}</div>
        <div class="staging">{{ item.staging_number }} / {{ item.staging_allNumber }}</div>
        <div class="money">{{ item.money }}</div>
        <div class="dieLine">{{ item.dieLine }}</div>
        <div class="month">{{ item.month }}</div>
        <div class="extra">{{ item.extra }}</div>
        <div class="btn-control" :class="{'control-height':displayName === '組長'}">
          <template v-if="displayName !== '組長' || (displayName === '組長' && item.uId === uid)">
            <a class="edit" href="#" @click.prevent="$emit('editOrder', $event , item)">編輯</a>
            <a class="delete" href="#" @click.prevent="$emit('deleteOrder', item)">刪除</a>
          </template>
        </div>
      </li>
    </script>
  <script>
    firebase.initializeApp({
      apiKey: "AIzaSyBOkPr5NHtb-HcprqrXKIujPndGiSxjvyI",
      authDomain: "project-list-1bd84.firebaseapp.com",
      projectId: "project-list-1bd84",
      storageBucket: "project-list-1bd84.appspot.com",
      messagingSenderId: "636865072797",
      appId: "1:636865072797:web:fd6917d1a3c15bb5fc8e74"
    });
    const db = firebase.firestore();
    let dns = `https://C5XEZ6LJMR-${(Math.floor(Math.random() * 3) + 1)}.algolianet.com`
    let header = {
      "X-Algolia-API-Key": "b467eae84913d43645f73c7c15d53e9a",
      "X-Algolia-Application-Id": "C5XEZ6LJMR"
    }
    const app = Vue.createApp({
      data() {
        return {
          allData: [],
          orderList: [],
          scrollCount: 1,
          uid: '',
          displayName: '',
          mname: '',
          checkIp: false,
          tempOrderList: {
            staging_allNumber: 'N/A'
          },
          modalControl: {
            is_edit: false,
            is_add: false,
            is_delete: false,
            is_add_before: 0,
            is_order_dec: 0,
            is_before: false,
            is_allNumber: false
          },
          searchText: '',
          search: {
            staging: '所有期數',
            mname: '所有業務',
            before: '不管有無貸款',
            search_text: ''
          },
          beforeList: [],
          allNumberList: [],
          tempAllNumber: '',
          tempBefore: '',
          checkList: {
            phone: true
          },
          lastData: '',
          checkDel: false,
          currentPage: 0,
          allPage: 0,
          isLoading: false,
          printLen: 0,
          printData: [],
          mnameData: []
        }
      },
      methods: {
        async getOrderList(page = 0) {
          this.orderList = []
          this.printData = []
          if (this.displayName == '管理' || this.displayName == '組長') {
            let url = dns + "/1/indexes/ORDER/query";
            let data = {
              hitsPerPage: 150,
              page: page
            }
            if(this.searchText !== '') {
              data = {
                hitsPerPage: 150,
                page: page,
                query: this.searchText
              }
            }
            let response = await axios({
              method: "post",
              url: url,
              headers: header,
              data: data
            })
            this.allPage = response.data.nbPages;
            this.currentPage = page;
            this.orderList = response.data.hits
            this.printLen = Math.ceil(response.data.hits.length / 11);
            this.orderList.forEach((item, index) => {
              if(index % 11 !== 0) {
                this.printData[this.printData.length - 1].push(item);
              } else {
                this.printData[this.printData.length] = [];
                this.printData[this.printData.length - 1].push(item);
              }
            })
          } else {
            let url = dns + "/1/indexes/ORDER/query";
            let filters = `(uId:${this.uid})`
            let data = {
              hitsPerPage: 150,
              page: page,
              'filters': filters
            }
            if(this.searchText !== '') {
              data = {
                hitsPerPage: 150,
                page: page,
                'filters': filters,
                query: this.searchText
              }
            }
            let response = await axios({
              method: "post",
              url: url,
              headers: header,
              data: data
            })
            this.allPage = response.data.nbPages;
            this.currentPage = page;
            this.orderList = response.data.hits
          }
          // 滾動
          // if(this.displayName !== '管理'){
          //         // 員工
          //         if (first){
          //           this.orderList = []
          //           let data = await db.collection('MEMBERP').doc(this.uid).collection('order').orderBy('oId', 'desc').limit(10).get();
          //           data.forEach( item => {
          //               this.orderList.push({
          //                   ...item.data(),
          //                   id: item.id
          //               })
          //           })
          //           this.lastData = this.orderList[this.orderList.length - 1].id;
          //         } else {
          //           let data = await db.collection('MEMBERP').doc(this.uid).collection('order').orderBy('oId', 'desc').startAfter(this.lastData).limit(5).get();
          //           data.forEach( item => {
          //               this.orderList.push({
          //                   ...item.data(),
          //                   id: item.id
          //               })
          //           })
          //           this.lastData = this.orderList[this.orderList.length - 1].id;
          //         }
          //     }else{
          //         // 管理
          //         if (first) {
          //           this.orderList = []
          //           this.lastData = ''
          //           let data = await db.collection('ORDER').orderBy('oId', 'desc').limit(10).get();
          //           data.forEach( item => {
          //             this.orderList.push({
          //                 ...item.data(),
          //                 id: item.id
          //             })
          //           })
          //           this.lastData = this.orderList[this.orderList.length - 1].id;
          //         } else {
          //           let data = await db.collection('ORDER').orderBy('oId', 'desc').startAfter(this.lastData).limit(5).get()
          //           data.forEach( item => {
          //             this.orderList.push({
          //                 ...item.data(),
          //                 id: item.id
          //             })
          //           })
          //           this.lastData = this.orderList[this.orderList.length - 1].id;
          //         }
          //     }
        },
        checkLogin() {
          if (localStorage.getItem("cookie")) {
            let { uid, displayName, name } = JSON.parse(localStorage.getItem("cookie"));
            this.uid = uid;
            this.mname = name;
            this.displayName = displayName;
            this.getOrderList(this.currentPage);
            this.getBefore();
            this.getAllNumber();
          } else {
            window.location = './index.html'
          }
        },
        editOrder(event, tempOrderList) {
          this.tempOrderList = tempOrderList;
          this.openEdit(event, tempOrderList)
        },
        editModal() {
          if (this.checkList.phone == false) {
            alert('請填寫正確電話號碼');
            return;
          }
          db.collection('MEMBERP').doc(this.tempOrderList.uId).collection('order').doc(this.tempOrderList.oId).set({
            ...this.tempOrderList,
          });
          db.collection('ORDER').doc(this.tempOrderList.oId).set({
            ...this.tempOrderList,
          });
          this.isLoading = true
          setTimeout(() => {
            let index = this.orderList.findIndex(item => item.oId === this.tempOrderList.oId);
            this.orderList[index] = {
              ...this.tempOrderList
            }
            this.isLoading = false;
            this.tempOrderList = {};
          }, 3000)
          this.closeEdit();
        },
        deleteOrder(tempOrderList) {
          this.tempOrderList = tempOrderList;
          this.openDelete();
        },
        delModal(flag) {
          if (flag) {
            db.collection('MEMBERP').doc(this.tempOrderList.uId).collection('order').doc(this.tempOrderList.oId).delete();
            db.collection('ORDER').doc(this.tempOrderList.oId).delete();
            this.isLoading = true;
            setTimeout(() => {
              let index = this.orderList.findIndex(item => item.oId === this.tempOrderList.oId);
              this.orderList.splice(index, 1);
              this.isLoading = false;
              this.closeDelete()
            }, 3000)
          } else {
            this.closeDelete()
          }
        },
        add() {
          if (this.checkList.phone == false || this.tempOrderList.phone == '') {
            alert('請填寫正確電話號碼');
            return;
          } else if (this.tempOrderList.name == '') {
            alert('請填入姓名');
            return;
          } else if (this.tempOrderList.staging_number == '') {
            alert('請填入期數');
            return;
          } else if (this.tempOrderList.date == '') {
            alert('請填入日期');
            return;
          }
          let id = "" + new Date().getTime();
          db.collection('ORDER').doc(id).set({
            ...this.tempOrderList,
            oId: id,
            uId: this.uid,
            mname: this.mname
          })
          db.collection('MEMBERP').doc(this.uid).collection('order').doc(id).set({
            ...this.tempOrderList,
            oId: id,
            uId: this.uid,
            mname: this.mname
          })
          this.isLoading = true
          setTimeout(() => {
            this.orderList.unshift({
              ...this.tempOrderList,
              oId: id,
              uId: this.uid,
              mname: this.mname
            });
            this.isLoading = false
            this.tempOrderList = {};
          }, 3000)
          this.modalControl.is_add = false;
          // setTimeout(() => {
          //   this.getOrderList(this.currentPage);
          // }, 5000)
        },
        addMember() {
          firebase.auth().createUserWithEmailAndPassword(this.member.account, this.member.password)
            .then((res) => {
              let data = {
                account: res.user.email,
                displayName: '員工',
                uid: res.user.uid
              }
              db.collection('MEMBERP').doc(res.user.uid).set(data);
              this.member = {};
              this.modalControl.is_add_member = false;
            })
            .catch((error) => {
              var errorCode = error.code;
              var errorMessage = error.message;
            });
        },
        logout() {
          localStorage.removeItem('cookie');
          window.location = './index.html'
        },
        // async searchHandler (page = 0) {
        //   if(this.searchText === '') {
        //     this.getOrderList(0)
        //   } else {
        //     this.orderList = []
        //     if (this.displayName == '管理' || this.displayName == '組長') {
        //       console.log(page)
        //       let url = dns + "/1/indexes/ORDER/query";
        //       let response = await axios({
        //         method: "post",
        //         url: url,
        //         headers: header,
        //         data: {
        //           hitsPerPage: 150,
        //           query: this.searchText,
        //           page: page
        //         }
        //       })
        //       console.dir(response)
        //       this.allPage = response.data.nbPages;
        //       this.currentPage = page;
        //       this.orderList = response.data.hits
        //     } else {
        //       let url = dns + "/1/indexes/ORDER/query";
        //       let filters = `(uId:${this.uid})`
        //       let response = await axios({
        //             method: "post",
        //             url: url,
        //             headers: header,
        //             data: {
        //               hitsPerPage: 150,
        //               page: page,
        //               'filters': filters,
        //               query: this.searchText
        //             }
        //           })
        //       this.allPage = response.data.nbPages;
        //       this.currentPage = page;
        //       this.orderList = response.data.hits
        //     }
        //   }
        // },
        async searchBtn(input = '') {
          if (this.search.staging == '期數大於') {
            this.searchHandler('>', input);
          } else if (this.search.staging == '期數小於') {
            this.searchHandler('<', input);
          } else if (this.search.staging == '期數等於') {
            this.searchHandler('=', input);
          } else if (this.search.staging == '期數大於等於') {
            this.searchHandler('>=', input);
          } else if (this.search.staging == '期數小於等於') {
            this.searchHandler('=<', input);
          } else if (this.search.staging == '所有期數') {
            this.searchHandler('all', input);
          }
        },
        async searchHandler(type, input) {
          this.orderList = []
          let temp = []
          let before = this.search.before
          let mname = this.search.mname
          console.log(before, mname)
          if (type == '=') {
            temp = await db.collection('ORDER').where('staging_number', '==', input).get()
          } else if (type == '>') {
            temp = await db.collection('ORDER').where('staging_number', '>', +input).get()
          } else if (type == '<') {
            temp = await db.collection('ORDER').where('staging_number', '<', +input).get()
          } else if (type == '>=') {
            temp = await db.collection('ORDER').where('staging_number', '>=', +input).get()
          } else if (type == '=<') {
            temp = await db.collection('ORDER').where('staging_number', '<=', +input).get()
          }  else if (type == 'all') {
            temp = await db.collection('ORDER').get()
          }
          if(before !== '不管有無貸款' && mname !== '所有業務') {
            if(before == '有前貸') {
              temp.forEach(item => {
                if(item.data().before !== '無貸款' && item.data().before != undefined && item.data().mname == mname) {
                  this.orderList.push(item.data())
                }
              })
            } else {
              temp.forEach(item => {
                if((item.data().before == '無貸款' || item.data().before == undefined) && item.data().mname == mname) {
                  this.orderList.push(item.data())
                }
              })
            }
          } else if (before == '不管有無貸款' && mname !== '所有業務') {
            temp.forEach(item => {
              if(item.data().mname == mname) {
                this.orderList.push(item.data())
              }
            })
          } else if (before !== '不管有無貸款' && mname == '所有業務') {
            if(before == '有前貸') {
              temp.forEach(item => {
                if(item.data().before !== '無貸款' && item.data().before != undefined) {
                  console.log(item.data())
                  this.orderList.push(item.data())
                }
              })
            } else {
              temp.forEach(item => {
                if(item.data().before == '無貸款' || item.data().before == undefined) {
                  this.orderList.push(item.data())
                }
              })
            }
          } else if (before == '不管有無貸款' && mname == '所有業務') {
            if(type == "all") {
              this.getOrderList(page = 0)
            } else {
              temp.forEach(item => {
                this.orderList.push(item.data())
              })
            }
          }
        },
        async getBefore() {
          this.beforeList = [];
          let data = await db.collection('BEFORE').get();
          data.forEach(item => {
            this.beforeList.push(item.data().title);
          })
        },
        add_Before() {
          if (this.tempBefore == '') {
            this.modalControl.is_add_before = 0;
            return;
          } else {
            db.collection('BEFORE').add({
              title: this.tempBefore
            })
            this.modalControl.is_add_before = 0;
            this.tempBefore = '';
            this.getBefore();
          }
        },
        openEdit(event, item) {
          document.querySelector('.edit-modal').style.zIndex = 100;
          document.querySelector('.edit-modal').style.top = `${event.pageY - event.screenY + 150}px`;
          this.tempOrderList = { ...item }
        },
        closeEdit() {
          document.querySelector('.edit-modal').style.zIndex = -10;
          document.querySelector('.edit-modal').style.top = `-1200px`;
        },
        openDelete() {
          document.querySelector('.delete-modal').style.zIndex = 100;
          document.querySelector('.delete-modal').style.top = `${event.pageY - event.screenY + 300}px`;
        },
        closeDelete() {
          this.tempOrderList = {};
          document.querySelector('.delete-modal').style.zIndex = -10;
          document.querySelector('.delete-modal').style.top = `-1200px`;
        },
        checkFormOrder(type) {
          if (type == 'phone') {
            const reg = /^09[0-9]{8}$/;
            if (this.tempOrderList.phone.match(reg)) {
              this.checkList.phone = true;
            } else if (this.tempOrderList.phone == '') {
              this.checkList.phone = false;
            } else {
              this.checkList.phone = false;
            }
          }
        },
        changePhone(val) {
          return `${val.slice(0, 4)}-${val.slice(4, 7)}-${val.slice(7, 10)}`
        },
        getIp() {
          axios.get("https://api.ipify.org/?format=json")
            .then(res => {
              let ip = res.data.ip;
              if (ip.startsWith('27.240') || ip.startsWith('118.170') || ip.startsWith('116.241.172.18') || ip.startsWith('114.46') | ip.startsWith('59.127')) {
                this.checkIp = true;
              } else {
                this.checkIp = false;
              }
              if (this.checkIp === false) {
                localStorage.removeItem('cookie');
                window.location = './index.html';
              }
            })
            .catch(err => {
              console.dir(err);
            })

        },
        async updateS() {
          let update = await db.collection('ORDER').get();
          let data = [];
          let newData = [];

          update.forEach((item, index) => {
            data.push(item.data())
          })
          // console.log(data)
          // data.forEach((item, index) =>{
          //   console.log(index)
          //   db.collection('MEMBERP').doc(item.uId).collection('order').doc(item.oId).set({
          //     ...item
          //   })
          // })

          // data.forEach(item => {
          //   db.collection('ORDER').doc(item.oId).set({
          //     ...item
          //   })
          // })


          // data.forEach(item => {
          //   if(+item.staging_number >= 0){
          //     newData.push(item)
          //   }
          // })



          // console.log(newData)
          // newData.forEach((item, index) => {
          //   console.log(index);
          //   db.collection('ORDER').doc(item.oId).set({
          //     ...item,
          //     staging_number: +item.staging_number + 1
          //   })
          //   db.collection('MEMBERP').doc(item.uId).collection('order').doc(item.oId).set({
          //     ...item,
          //     staging_number: +item.staging_number + 1
          //   })
          // })
        },
        async deleteBefore(item) {
          let before = await db.collection('BEFORE').where('title', '==', item).limit(1).get()
          let before_id = ''
          before.forEach(item => {
            before_id = item.id
          })
          db.collection('BEFORE').doc(before_id).delete()
          this.getBefore()
        },
        add_AllNumber() {
          if (this.tempAllNumber == '') return;
          db.collection('ALLNUMBER').add({
            title: this.tempAllNumber
          })
          this.tempAllNumber = '';
          this.getAllNumber();
        },
        async getAllNumber() {
          this.allNumberList = [];
          let data = await db.collection('ALLNUMBER').orderBy('title', 'asc').get();
          data.forEach(item => {
            this.allNumberList.push(item.data().title)
          })
        },
        async deleteAllNumber(item) {
          let allNumber = await db.collection('ALLNUMBER').where('title', '==', item).limit(1).get()
          let allNumber_id = ''
          allNumber.forEach(item => {
            allNumber_id = item.id
          })
          db.collection('ALLNUMBER').doc(allNumber_id).delete()
          this.getAllNumber()
        },
        upToTop() {
          let vm = this;
          if (window.scrollY != 0) {
            setTimeout(function () {
              window.scrollBy(0, -100);
              vm.upToTop();
            }, 10);
          }
        },
        async getAllMname() {
          this.mnameData = [];
          let mnameTemp = await db.collection('MEMBERP').get();
          mnameTemp.forEach(item => {
            if(item.data().displayName !== '管理' && item.data().displayName !== '組長') {
              this.mnameData.push(item.data().name)
            }
          })
        }
      },
      computed: {
        filterData: {
          get() {
            return this.orderList;
          },
          set(val) {
            this.orderList = this.orderList.sort((a, b) => {
              if (val == 0) {
                return new Date(a.date).getTime() - new Date(b.date).getTime();
              } else {
                return new Date(b.date).getTime() - new Date(a.date).getTime();
              }
            })
          }
        }
      },
      created() {
        this.getIp();
      },
      mounted() {
        // document.body.oncopy = function () { event.returnValue = false; }
        this.checkLogin();
        this.getAllMname();
        // const vm = this;
        // $(window).scroll(function () {
        //   if (Math.ceil($(window).scrollTop()) == ($(document).height() - $(window).height())) {
        //     vm.scrollCount = Math.ceil($(window).scrollTop())
        //     vm.getOrderList()
        //   }
        // });
      }
    })
    app.component('list', {
      props: ["item", "displayName", "uid"],
      emits: ["deleteOrder", "editOrder"],
      template: '#list',
      computed: {
        phoneFormat () {
          let temp = this.item.phone
          return temp.slice(0, 4) + '-' + temp.slice(4)
        }
      }
    });
    app.mount('#app');

  </script>
  <script>
    document.body.oncopy = function () { 
      var copyWarn = document.querySelector('#copyWarnId');
      console.log(copyWarn)
      copyWarn.value = '不要亂複製'
      copyWarn.select();
      copyWarn.setSelectionRange(0, copyWarn.value.length);
      document.execCommand('copy');
    }
    document.querySelector('body').addEventListener('keyup', function (e) {
      console.log(e.keyCode)
      if (e.keyCode == 44) {
        var copyWarn = document.querySelector('#copyWarnId');
        console.log(copyWarn)
        copyWarn.value = '不要截圖'
        copyWarn.select();
        copyWarn.setSelectionRange(0, copyWarn.value.length);
        document.execCommand('copy');
      }
    });
    let { displayName } = JSON.parse(localStorage.getItem("cookie"));
    if (displayName != '管理') {
      document.querySelector('body').classList.add('print');
    }
  </script>
</body>

</html>